.signup-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.signup-nav {
  display: flex;
  align-items: center;
  padding: 1.1rem 2rem;
}

.logo-img {
  width: 180px;
  height: auto;
}

.signup-container {
  flex: 1;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-wrapper {
  width: 100%;
  height: 86vh;
  border-radius: 34px;
  background: linear-gradient(135deg, #FEF4EC 0%, #F19BE6 100%);
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 60px;
  margin: 0 28px 28px 28px;
  gap: 80px;
  box-sizing: border-box;
}

.container {
  width: 45%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  background-color: white;
  border-radius: 30px;
  overflow: visible;
}

.signup-box {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.signup-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}

.name-fields {
  display: flex;
  gap: 10px;
}

.input-field {
  width: 100%;
  height: 50px;
  padding: 8px;
  margin: 6px 0;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  outline: none;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: #f4a1dd;
  box-shadow: 0 0 5px rgba(244, 161, 221, 0.3);
}

.terms {
  display: flex;
  align-items: center;
  gap: 5px;
}

.terms label {
  font-size: 14px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 22px;
  margin: 14% 0 39px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #333;
}

.login-link {
  font-size: 14px;
  font-weight: bold;
}

.login-link a {
  color: blue;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}
.continue-as-guest{
  background-color: white;
  color: black;
  padding: 16px 20px 16px 20px;
  border-radius:30px;
}

.hero-text h1 {
  font-size: 60px;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 400;
  margin: 0;
}

.job-search {
  height: 180px;
  width: auto;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .gradient-wrapper {
    flex-direction: column;
  }
  
  .hero-text {
    display: flex;
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    margin-left: 0;
  }

  .signup-box {
    padding: 20px;
  }

  .signup-container {
    padding: 10px;
  }

  .gradient-wrapper {
    margin: 10px;
    padding: 20px;
  }
}
